In [6]:
import pandas as pd

states = [0, 1, 2, 3]
alphabet = ['a', 'b', 'c', 'd']

# df.headers = states

'''
        {1,2,6,4,5,6,6},
        {1,2,3,4,5,3,6},
        {1,2,3,4,5,3,6},
        {1,2,3,4,5,3,6}
'''

df = pd.DataFrame(data={'q0' : [1,1,1,1], 'q1': [2,2,2,2], 
      'q2': [6,3,3,3], 'q3': [4,4,4,4], 'q4': [5,5,5,5], 
      'q5': [6,3,3,3], 'f0': [6,6,6,6]}, index=alphabet)

print (df)

   q0  q1  q2  q3  q4  q5  f0
a   1   2   6   4   5   6   6
b   1   2   3   4   5   3   6
c   1   2   3   4   5   3   6
d   1   2   3   4   5   3   6

In [7]:
df

   q0  q1  q2  q3  q4  q5  f0
a   1   2   6   4   5   6   6
b   1   2   3   4   5   3   6
c   1   2   3   4   5   3   6
d   1   2   3   4   5   3   6